services:
  # PHP-FPM
  php:
    image: php:8.3-fpm
    container_name: php_app
    volumes:
      - ./src:/var/www/html
    networks:
      - app_network

  # Nginx
  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app_network

networks:
  app_network:
    driver: bridge