.git
.gitignore
.env
.env.example
.editorconfig
.phpunit.result.cache
node_modules
vendor
tests
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
bootstrap/cache/**
.DS_Store
Thumbs.db
*.log
*.md
!README.md
docker-compose.yml
.dockerignore
