
services:

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  laravel:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: laravel
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/var/www
      - /var/www/vendor
    depends_on:
      - postgres
    networks:
      - app-network
    command: >
      sh -c "composer install && 
             php artisan config:clear && 
             php artisan serve --host=0.0.0.0 --port=8000"


  nextjs:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: nextjs
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ../backend:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      
    depends_on:
      - nextjs
      
    networks:
      - app-network


volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
