
services:

  nextjs:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: nextjs
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ../backend:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      
    depends_on:
      - nextjs
      
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
