
version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  laravel:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: laravel
    working_dir: /var/www
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: laravel
      DB_PASSWORD: secret
    networks:
      - app-network
    ports:
      - "9000:9000"

  nextjs:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: nextjs
    networks:
      - app-network
    depends_on:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ../backend:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      
    depends_on:
      - nextjs
      - laravel
      
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
